stages:
  - build
  - docker-build

cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"

build:
  stage: build
  image: node
  before_script:
    - cd front/
  script: 
    - yarn install
    - yarn run build
  artifacts:
    expire_in: 1 month
    paths:
      - front/build
      - front/node_modules/

docker:
  stage: docker-build
  image: mullnerz/ansible-playbook:2.9.1
  only :
    - master
  before_script:
    #Generating the SSH key
    - mkdir -p ~/.ssh
    - echo -e "$PRIVATE_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - export IMAGE_NAME="$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME"
    - export DEPLOY_TARGET=Production
    - cd ansible
  script:
    #Executing the ansible-playbook
    - chmod -v 700 $(pwd)
    - ansible-playbook --key-file ~/.ssh/id_rsa  playbook.yml -i hosts
